<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>The Journal</h1>
    <h2>By TriHarder</h2>
    <h3> Welcome, Justin. <h3>

    <%= link_to "start your journal", mycompetitions_path %>

    <%= link_to "Record New Time Trial Results", my_time_trials/new_path %>
    <%= link_to "Record New Comptetition Results", mycompetitions/new_path %>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>